.header{
    text-align: center;
    color: #8b0000;
    font-size: 40px;
}
.about{
    width: 768px;
}
.description{
    width: 2.56em;
    float: left;
    padding: 10px;
    text-align: center;
}
.interests{
    width: 2.56em;
    float: right;
    text-align: center;
    
}
.interests ul{
    list-style-type: none;
    border: 10px;
    border-color: black;
}